# Task 1

Printed newspapers used their own date format for each issue. For each newspaper in the list, write the format for the specified date to be converted to a datetime object:

In [2]:
from datetime import datetime

In [ ]:
The_Moscow_Times = 'Wednesday, October 2, 2002'
The_Guardian = 'Friday, 11.10.13'
Daily_News = 'Thursday, 18 August 1977'

In [ ]:
Date_the_moscow_times = datetime.strptime(The_Moscow_Times, '%A, %B %d, %Y')
Date_the_guardian = datetime.strptime(The_Guardian, '%A, %d.%m.%y')
Date_daily_news = datetime.strptime(Daily_News, '%A, %d %B %Y')

Date_the_moscow_times, Date_the_guardian, Date_daily_news

(datetime.datetime(2002, 10, 2, 0, 0),
 datetime.datetime(2013, 10, 11, 0, 0),
 datetime.datetime(1977, 8, 18, 0, 0))

# Task 2

Given a stream of dates in YYYY-MM-DD format that contain incorrect values:

stream = ['2018-04-02', '2018-02-29', '2018-19-02']

Write a function that checks these dates for validity. That is, for each date returns True (the date is correct) or False (the date is incorrect).

In [ ]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [ ]:
stream_in_date = []
for date in stream:
  try:
    stream_in_date.append(datetime.strptime(date, '%Y-%m-%d'))
    print(date, 'True')
  except:
    print(date, 'False')
    pass

2018-04-02 True
2018-02-29 False
2018-19-02 False

# Task 3

Write a date_range function that returns a list of dates from start_date to end_date. Dates must be entered in YYYY-MM-DD format. If the format is invalid, or if start_date > end_date, an empty list should be returned.

In [1]:
from datetime import timedelta

In [4]:
def date_range():
  date_list = []
  start_date = input('Enter start date of the period in format YYYY-MM-DD:\n')
  end_date = input('Enter end date of the period in format YYYY-MM-DD:\n')
  try:
    start_date_convert = datetime.strptime(start_date, '%Y-%m-%d')
    while start_date_convert <= datetime.strptime(end_date, '%Y-%m-%d'):
      date_for_list = start_date_convert.strftime('%Y-%m-%d')
      date_list.append(date_for_list)
      start_date_convert += timedelta(days=1)
  finally:
    print(date_list)

date_range()

Enter start date of the period in format YYYY-MM-DD:
2022-05-14
Enter end date of the period in format YYYY-MM-DD:
2022-06-14
['2022-05-14', '2022-05-15', '2022-05-16', '2022-05-17', '2022-05-18', '2022-05-19', '2022-05-20', '2022-05-21', '2022-05-22', '2022-05-23', '2022-05-24', '2022-05-25', '2022-05-26', '2022-05-27', '2022-05-28', '2022-05-29', '2022-05-30', '2022-05-31', '2022-06-01', '2022-06-02', '2022-06-03', '2022-06-04', '2022-06-05', '2022-06-06', '2022-06-07', '2022-06-08', '2022-06-09', '2022-06-10', '2022-06-11', '2022-06-12', '2022-06-13', '2022-06-14']

# Task 4 (optional)

Your colleague sent the function code:

In [5]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
  """
  Удаляет из списка default_list последнего пользователя
  и возвращает ID нового последнего пользователя.
  """
  element_to_delete = default_list[-1]
  default_list.remove(element_to_delete)
  return default_list[DEFAULT_USER_COUNT-2]

delete_and_return_last_user(1)
delete_and_return_last_user(1)

IndexError: ignored

When this function is called once, everything works correctly:
delete_and_return_last_user(1)
‘A101’

However, when called again, the error is IndexError: list index out of range.

Answer to questions:

1.   'list index out of range' What does error mean?

This error means that the index at which the code is trying to access the list is outside of it. That is, there is no element in the list that matches the index.

2.   Why does the function work correctly on the first run, but not on the second run?

In this case, on the first run, there are three items in the list.
DEFAULT_USER_COUNT variable is also = 3.
After the first iteration, the number of elements becomes two and the final element with index 1 is returned.
But the global variable DEFAULT_USER_COUNT is not overwritten and is still 3.
When the function is called again, it tries to return an element from the list with index 1, but only 1 element with index 0 remains in the list. In connection with this, an error occurs.

**Below are two versions of the corrected function.**

In [9]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
  """
  This function removes the last user from default_list
  and returns the ID of the new last user.
  """
  element_to_delete = default_list[-1]
  default_list.remove(element_to_delete)
  global DEFAULT_USER_COUNT
  DEFAULT_USER_COUNT -= 1
  if DEFAULT_USER_COUNT != 0:
    return default_list[DEFAULT_USER_COUNT-2]
  else:
    print(default_list, ' - list "default_list" is empty')

delete_and_return_last_user(1)
delete_and_return_last_user(1)
delete_and_return_last_user(1)

[]  - list "default_list" is empty

In [8]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
  """
  УThis function removes the last user from default_list
  and returns the ID of the new last user.
  """
  element_to_delete = default_list[-1]
  default_list.remove(element_to_delete)
  if len(default_list) != 0:
    return default_list[-1]
  else:
    print(default_list, ' - list "default_list" is empty')

delete_and_return_last_user(1)
delete_and_return_last_user(1)
delete_and_return_last_user(1)

[]  - list "default_list" is empty