# **Task 1**

Given a variable that stores a word from Latin letters. Write code that displays:

- the middle letter if the number of letters in the word is odd;
- two middle letters if the number of letters is even.

In [ ]:
word = input()
if len(word) % 2 == 0: 
  print (word[int(len(word) / 2)-1:int(len(word) / 2)+1])
elif len(word) % 2 != 0:
  print (word[int(len(word) / 2)])

testing
t

# **Task 2**

Write a program that prompts the user for numbers in sequence (one at a time) and after the first zero prints the sum of all previously entered numbers.

In [1]:
n = int(input('Enter the number:\n'))
counter = 0
while n != 0:
  counter += n
  n = int(input('Enter the number:\n'))
print (f"Result\n{counter}")

Enter the number:
1
Enter the number:
2
Enter the number:
0
Result
3

# **Task 3**

We are making MVP of dating service and we have a list of guys and girls.
We hypothesize that we will get better recommendations if we simply sort the names alphabetically and introduce people with the same indexes after sorting! But we will not introduce anyone if someone can be left without a couple:

In [2]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

In [5]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

In [6]:
if len(boys) == len (girls):
  print('Perfect couples:')
  for i in zip(sorted(boys), sorted(girls)):
   print(' and '.join(i))
else:
  print('Attention, someone may be left without a partner!')

Attention, someone may be left without a partner!

# **Task 4**

We have a list containing information about the average daily temperature in Fahrenheit for an arbitrary period by country (data structure in the example). You need to write a code that will calculate the average temperature for the period in Celsius(!) for each country.

In [7]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

In [8]:
print('Average temperature in countries:')
for i in countries_temperature:
  i[1] = (round((sum(i[1]) / len(i[1]) - 32) * 5 / 9, 1))
  print(i[0], ' - ', i[1], ' C')

Average temperature in countries:
Thailand  -  23.9  C
Germany  -  13.8  C
Russia  -  3.7  C
Poland  -  12.0  C

# **Task 5 (optional)**

Given a stream of logs by the number of pages viewed for each user. You need to write an algorithm that calculates the average page views per user. That is, you need to calculate the ratio of the sum of all views to the number of unique users.

In [9]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

In [11]:
stream = [
    '2018-01-01,user100,150',
    '2018-01-07,user99,205',
    '2018-03-29,user1001,81'
]

In [13]:
unique_users = []
views = []
for row in stream:
  views.append(int(row.split(',')[2]))
  if row.split(',')[1] not in users:
    users.append(row.split(',')[1])
views = (sum(views)/len(users))
print('Average views per unique user: ', round(views, 2))

Average views per unique user:  145.33

# **Task 6 (optional)**

Ask the user for a set of numbers separated by a space.        
As a result, numbers that appear in the input more than once should be output in sorted order.

In [15]:
n = input('Enter the number: (separated by a space)\n')
n = n.split()
result = []
list_of_num = []
for i in n:
 if n.count(i) > 1 and i not in list_of_num:
   list_of_num.append(i)
for r in list_of_num:
  result.append(int(r))
result = sorted(result)
for i in result:
  print(i, end=' ')

Enter the number: (separated by a space)
10 15 15 103 200 200 200 1 1 1 1 1 2 2 2
1 2 15 200