In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Task 1

Write a function that classifies films from class materials according to the following rules:
- rating 2 or less - low rating
- score 4 or less - average rating
- rating 4.5 and 5 - high rating

Write the classification result in the class column

In [2]:
import pandas as pd

In [3]:
links = pd.read_csv('/content/drive/MyDrive/Data Science/Pandas/Lection 3/ml-latest-small/links.csv')
movies = pd.read_csv('/content/drive/MyDrive/Data Science/Pandas/Lection 3/ml-latest-small/movies.csv')
ratings = pd.read_csv('/content/drive/MyDrive/Data Science/Pandas/Lection 3/ml-latest-small/ratings.csv')
tags = pd.read_csv('/content/drive/MyDrive/Data Science/Pandas/Lection 3/ml-latest-small/tags.csv')

In [4]:
def rating_class(rating):
    if rating <= 2:
      return 'low rating'
    elif rating <= 4:
      return 'average rating'
    
    return 'high rating'

In [5]:
ratings['class'] = ratings['rating'].apply(rating_class)
ratings.head()

   userId  movieId  rating   timestamp           class
0       1       31     2.5  1260759144  average rating
1       1     1029     3.0  1260759179  average rating
2       1     1061     3.0  1260759182  average rating
3       1     1129     2.0  1260759185      low rating
4       1     1172     4.0  1260759205  average rating

In [6]:
# check
ratings['class'].groupby(ratings['rating']).unique()

rating
0.5        [low rating]
1.0        [low rating]
1.5        [low rating]
2.0        [low rating]
2.5    [average rating]
3.0    [average rating]
3.5    [average rating]
4.0    [average rating]
4.5       [high rating]
5.0       [high rating]
Name: class, dtype: object

# Task 2

Use the keywords.csv file.

Write a geo-classifier that will be able to set the geographical belonging to a certain region for each line. 
- If the search query contains the name of the city of the region, then the name of this region is written in the 'region' column. 
- If the search query does not contain the name of the city, then we put 'undefined'. 

Record the classification result in a separate region column.

In [7]:
keywords = pd.read_csv('/content/drive/MyDrive/Data Science/Pandas/Lection 3/ml-latest-small/keywords.csv')

Distribution rules for the regions Center, North-West and Far East:

In [8]:
geo_data = {
'Center': ['москва', 'тула', 'ярославль'],
'North-West': ['петербург', 'псков', 'мурманск'],
'Far East': ['владивосток', 'сахалин', 'хабаровск']
}

In [9]:
def get_region(city):
  city = city.lower()
  for k, v in geo_data.items():
    for value in v:
      if value in city:
        return k
  else:
    return 'undefined'

In [10]:
keywords['region'] = keywords['keyword'].apply(get_region)
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [11]:
# Chqck
keywords['keyword'].groupby(keywords['region']).unique()

region
Center        [авито москва, авито ярославль, москва, гисмет...
Far East      [фарпост владивосток, дром хабаровск, дром вла...
North-West    [авито ру санкт петербург, погода в санкт пете...
undefined     [вк, одноклассники, порно, ютуб, вконтакте, од...
Name: keyword, dtype: object

# Task 3 (optional)

There is an opinion that "they used to shoot a real movie, not like now." 

Verify this statement using the movie rating files (movies.csv and ratings.csv file from the movielens database). 

Check whether it is true that with the growth of the year of release of the film, its average rating becomes lower.

At the same time, we will not touch upon the subjective factors of setting these ratings, but will go through the following algorithm:
1.   In the years variable, write a list of all the years from 1950 to 2010.
2.   Write a production_year function that sets each line of a movie's title to the production year. Not all movie titles contain the release year in the same format, so use the following algorithm:
    1. For each row iterate through all the years of the years list
    2. If the year number is present in the movie title, then the function returns that year as the release year
    3. If none of the year numbers in the years list is found in the title of the movie, then *1900* is returned
3. Record the year of the release of the movie according to the algorithm of paragraph 2 in the new column 'year'
4. Calculate the average rating of all films for each value of the 'year' column and sort the result in descending rating




i

In [12]:
import numpy as np

In [13]:
movies_rating = ratings.merge(movies, on='movieId', how='left')

In [14]:
movies_rating.head()

,userId,movieId,rating,timestamp,class,title,genres
0,1,31,2.5,1260759144,average rating,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,average rating,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,average rating,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,low rating,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,average rating,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [15]:
years = np.arange(1950, 2011)

In [16]:
def production_year(movie_title):
  for i in years:
    if str(i) in movie_title:
      return i

  return 1900

In [17]:
movies_rating['year'] = movies_rating['title'].apply(production_year)
movies_rating.head()

,userId,movieId,rating,timestamp,class,title,genres,year
0,1,31,2.5,1260759144,average rating,Dangerous Minds (1995),Drama,1995
1,1,1029,3.0,1260759179,average rating,Dumbo (1941),Animation|Children|Drama|Musical,1900
2,1,1061,3.0,1260759182,average rating,Sleepers (1996),Thriller,1996
3,1,1129,2.0,1260759185,low rating,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,1981
4,1,1172,4.0,1260759205,average rating,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,1989

In [18]:
movies_rating['rating'].groupby(movies_rating['year']).mean().sort_values(ascending=False)

year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
          ...
2005    3.448434
2003    3.444777
1996    3.426600
1997    3.415764
2000    3.356104
Name: rating, Length: 62, dtype: float64