In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Task 1

Download any size dataset from https://grouplens.org/datasets/movielens/

Determine which movie received the most 5.0 ratings

In [2]:
import pandas as pd

In [ ]:
links = pd.read_csv('/content/drive/MyDrive/Data Science/Pandas/ml-latest-small/links.csv')
movies = pd.read_csv('/content/drive/MyDrive/Data Science/Pandas/ml-latest-small/movies.csv')
ratings = pd.read_csv('/content/drive/MyDrive/Data Science/Pandas/ml-latest-small/ratings.csv')
tags = pd.read_csv('/content/drive/MyDrive/Data Science/Pandas/ml-latest-small/tags.csv')

In [ ]:
joined = ratings.merge(movies, on='movieId', how='left')

In [ ]:
joined[joined.rating == 5].title.value_counts().head(1)

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

# Task 2

Calculate the total consumption of the Baltic countries (Latvia, Lithuania and Estonia) of categories 4, 12 and 21 for the period from 2005 to 2010 using the power.csv file. Do not include negative quantities in your calculations.

In [3]:
power = pd.read_csv('/content/drive/MyDrive/Data Science/Pandas/ml-latest-small/power.csv')

In [ ]:
power[ power['country'].str.contains('est', case=False) ]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

In [ ]:
'Latvia' 'Lithuania' 'Estonia'

'LatviaLithuaniaEstonia'

In [4]:
filtered_countries = power[ power['country'].isin(['Latvia', 'Lithuania', 'Estonia']) ]
filtered_category = filtered_countries[ filtered_countries['category'].isin([4, 12, 21]) ]
filtered_table = filtered_category [ (filtered_category['year'] >= 2005) & (filtered_category['year'] <= 2010) & (filtered_category['quantity'] > 0) ]
print('The total consumption of the Baltic countries in categories 4, 12 and 21 for the period from 2005 to 2010 - ', filtered_table.quantity.sum())

The total consumption of the Baltic countries in categories 4, 12 and 21 for the period from 2005 to 2010 -  240580.0

# Task 3

Select a page on any site with tabular data. Import tables into pandas dataframe.

In [9]:
import re
from datetime import date
from datetime import datetime

In [10]:
def choose_date(date_):
  date_in_format = re.sub(r'(\d{2})[\.\/\\\-\,]{0,1}(\d{2})[\.\/\\\-\,]{0,1}(\d{2,4})', r'\1/\2/\3', date_)
  if datetime.strptime(date_in_format, '%d/%m/%Y') < datetime(1992, 7, 1):
    print('Error! Enter a date later than 01-07-1992')
  elif datetime.strptime(date_in_format, '%d/%m/%Y') > datetime.today():
    print('Error! Enter the current date or earlier')
  else:
    page_ = r'http://www.cbr.ru/scripts/XML_daily.asp?date_req=' + date_in_format + ''
    df = pd.read_xml(page_, encoding='windows-1251')
    return df

In [11]:
date_ = input('Enter the date to request the exchange rate in the format DD/MM/YYYY\n')
choose_date(date_)

Enter the date to request the exchange rate in the format DD/MM/YYYY
12052022

,ID,NumCode,CharCode,Nominal,Name,Value
0,R01010,36,AUD,1,Австралийский доллар,"47,8775"
1,R01020A,944,AZN,1,Азербайджанский манат,"40,4935"
2,R01035,826,GBP,1,Фунт стерлингов Соединенного королевства,"84,7613"
3,R01060,51,AMD,100,Армянских драмов,"14,7448"
4,R01090B,933,BYN,1,Белорусский рубль,"26,5326"
5,R01100,975,BGN,1,Болгарский лев,"37,1460"
6,R01115,986,BRL,1,Бразильский реал,"13,3962"
7,R01135,348,HUF,100,Венгерских форинтов,"19,1714"
8,R01200,344,HKD,10,Гонконгских долларов,"87,8495"
9,R01215,208,DKK,10,Датских крон,"97,6702"
10,R01235,840,USD,1,Доллар США,"68,8389"
11,R01239,978,EUR,1,Евро,"72,6314"
12,R01270,356,INR,100,Индийских рупий,"90,0042"
13,R01335,398,KZT,100,Казахстанских тенге,"15,8443"
14,R01350,124,CAD,1,Канадский доллар,"52,9042"
15,R01370,417,KGS,100,Киргизских сомов,"83,2817"
16,R01375,156,CNY,1,Китайский юань,"10,2029"
17,R01500,498,MDL,10,Молдавских леев,"36,5649"
18,R01535,578,NOK,10,Норвежских крон,"71,0089"
19,R01565,985,PLN,1,Польский злотый,"15,5973"
20,R01585F,946,RON,1,Румынский лей,"14,6885"
21,R01589,960,XDR,1,СДР (специальные права заимствования),"92,1712"
22,R01625,702,SGD,1,Сингапурский доллар,"49,5636"
23,R01670,972,TJS,10,Таджикских сомони,"55,0932"
24,R01700J,949,TRY,10,Турецких лир,"45,2700"
25,R01710A,934,TMT,1,Новый туркменский манат,"19,6683"
26,R01717,860,UZS,10000,Узбекских сумов,"61,6724"
27,R01720,980,UAH,10,Украинских гривен,"23,2172"
28,R01760,203,CZK,10,Чешских крон,"29,0496"
29,R01770,752,SEK,10,Шведских крон,"68,7200"
30,R01775,756,CHF,1,Швейцарский франк,"69,6468"
31,R01810,710,ZAR,10,Южноафриканских рэндов,"42,8823"
32,R01815,410,KRW,1000,Вон Республики Корея,"53,9786"
33,R01820,392,JPY,100,Японских иен,"52,7906"